* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border-radius: 3%;
}

body {
    min-height: 100vh;
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.6)
      ),
      url('QuizAppImages/stage.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    background-color: black;
    font-family: 'Roboto Slab', serif;
}

header {
    color: white;
    text-align: center;
    margin-top: 50px;
}

header h1 {
    font-size: 38px;
}

.question-and-score li {
    display: inline-block;
    align-self: center;
    margin-left: 8px;
    margin-right: 8px;
    list-style: none;
    font-size: 20px;
}

.quizBox {
    border: solid 2px black;
    background:rgba(255, 255, 255, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: 20px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    width: 85%;
}

.quizBox h2 {
    font-size: 25px;
}

.js-questionForm {
    margin: auto;
}

fieldset {
    border: 0;
}

.options {
    margin-top: 20px;
}

label {
    display: block;
    padding: 8px;
    cursor: pointer;
    font-weight: 100;
    font-size: 18px;
  }

.button {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    height: 40px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 15px;
    background-color: #00bfff;
    color: black;
}

.button:hover,
.button:active {
    background-color: #f2ca27;
    color: black;
}

.picture {
    width: 85%;
    max-width: 350px;
    margin-top: 10px;
    margin-bottom: 10px;
}

@media screen and (min-width: 700px) {
    .quizBox {
        width: 75%;
    }

    .button {
        height: 45px;
    }
}

@media screen and (min-width: 1024px) {
    header h1 {
        font-size: 40px;
    }

    .question-and-score li {
        font-size: 25px;
    }

    .quizBox {
        width: 60%;
    }

    .quizBox h2 {
        font-size: 30px;
    }

    .questionText {
        font-Size: 23px;
    }

    label {
        font-size: 20px;
    }
}
